{% extends "template/default.html" %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col col-sm-6">
            <h1 class="text-center mb-5">Upload</h1>
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="image">Image :</label>
                    <span style="color: red">{{ requireFile }}</span>
                    <input name="image" type="file" class="form-control" id="image">
                    <small id="imageHelp" class="form-text text-muted">Une image de moins de 5mo*</small>
                </div>
                <div class="form-group">
                    <label for="name">Nom souhaité pour l'image :</label>
                    <span style="color: red">{{ requireName }}</span>
                    <input name="name" type="text" class="form-control" id="name">
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>

                <span style="color: red">{{defect}}</span>
                <span style="color: green">{{ success }}</span>
            </form>
        </div>
    </div>
</div>

    <h2 class="text-center">Fichiers Envoyés : {{ imgName }}</h2>
    <div class="rounded mx-auto d-block">
        <img class="img-fluid text-center img-thumbnail" src="{{ img }}"
             alt="">
    </div>

<hr class="mt-2 mb-5">

{% block image %}
    <div class="container">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Galerie</h1>

        <div class="row text-center text-lg-left">
            {% if galery | length >0 %}
                {% for file in galery %}
                    <div class="col-lg-3 col-md-4 col-6">
                        <img class="img-fluid img-thumbnail" src="{{ file }}" alt="">
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="font-weight-light">Pas d'image pour le moment</h3>
            {% endif %}
        </div>
    </div>
{% endblock%}